.navbar {

    margin-top: -33px;
    background-color: #333;
    padding-top: 30px;
    height: 5vh;
    display: flex;
    justify-content: center; 
    
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 200px;
  }
  
  .nav-item {
    margin-right: 200px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    font-size: 22px;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  